<!-- <nav class="nav2">
    <section class="nav-container">
        <aside class="logo"><img src="../../../assets/img/logo.png"></aside>
        <aside class="menu">
            <div class="menu-content">
                <span><img class="menu-icon" src="../../../assets/icons/user-red.svg"><a type="button" routerLink="['/login']">User Name</a></span>
            </div>            
        </aside>
    </section>
</nav> -->

<nav class="nav1">
    <section class="nav-container">
        <aside class="logo1"> 
            <div class="contact-detail">
                <span ><img class="rounded-circle" src="../../../assets/icons/call-wht.svg">  +123-456-789</span>
            </div>
        </aside>
        <aside class="menu-content1">
            <button type="button" class="btn btn-light">Login</button>        
        </aside>
    </section>
</nav>
