<div class="col-lg-4 col-12 order-container">
    <div class="row">
        <div class="container-lg">
            <div class="container">
                <div class="form-group form-label col-lg-12">
                    <ul class="nav nav-pills mb-1 t_type" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill"><img class="Deliver_icon"
                                    src="../../../assets/icons/delivery-grn.svg">Deliver</a>
                            <!-- <input id="male" type="radio" formControlName="tType" class="d-none" value="3" name="tType"> -->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill"><img class="Collection_icon"
                                    src="../../../assets/icons/collection-grn.svg">Collection</a>
                            <!-- <input id="male" type="radio" formControlName="tType" class="d-none" value="1" name="tType"> -->
                        </li>
                    </ul>
                </div>
                <h4>Your Order</h4>
                <p class="price_tag"> Min Order: <span style="color:#b70a69;" class="min-price">&#8377; 200</span>
                </p>
                <div class="col-lg-12 col-12">
                    <div class="row">
                        <div class="info-data">
                            <div class="row ticket-booking-info-details">
                                <div class="col-1 col-lg-1">
                                    <i class="icon-delete"><img src="../assets/icons/cart-delete.svg"></i>
                                </div>
                                <div class="col-7 col-lg-7">
                                    <span class="fw-800">Coca-cola Original Tasted 1.5L Bottle</span>
                                </div>
                                <div class="col-4 col-lg-4">
                                    <span class="fw-800">
                                        <div class="input-group">
                                            <input type="button" value="-" [disabled]="" class="button-minus" readonly
                                                data-field="quantity">
                                            <input type="number" step="1" formControlName="" max="" name="quantity"
                                                readonly value="7" class="quantity-field">
                                            <input type="button" value="+" [disabled]="" class="button-plus" readonly
                                                data-field="quantity">
                                        </div>
                                    </span>
                                </div>
                            </div>
                            <div class="row ticket-booking-info-details">
                                <div class="col-4 col-lg-4">
                                    <span class="fw-800"></span><span>₹ 10.00 </span>
                                </div>
                                <div class="col-4 col-lg-4">
                                    <span class="fw-800"></span><span> </span>
                                </div>
                                <div class="col-4 col-lg-4">
                                    <span class="fw-800"></span><span style="float:right;"> ₹ 70.00 </span>
                                </div>
                            </div>
                            <div class=" ticket-booking-help">
                                <u href="#" target="_blank">Add Note</u>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-12">
                    <div class="row">
                        <div class="info-data">
                            <div class="row ticket-booking-info-details">
                                <div class="col-1 col-lg-1">
                                    <i class="icon-delete"><img src="../assets/icons/cart-delete.svg"></i>
                                </div>
                                <div class="col-7 col-lg-7">
                                    <span class="fw-800">Diet Coke 1.5L Bottle</span>
                                </div>
                                <div class="col-4 col-lg-4">
                                    <span class="fw-800">
                                        <div class="input-group">
                                            <input type="button" value="-" [disabled]="" class="button-minus" readonly
                                                data-field="quantity">
                                            <input type="number" step="1" formControlName="" max="" name="quantity"
                                                readonly value="1" class="quantity-field">
                                            <input type="button" value="+" [disabled]="" class="button-plus" readonly
                                                data-field="quantity">
                                        </div>
                                    </span>
                                </div>
                            </div>
                            <div class="row ticket-booking-info-details">
                                <div class="col-4 col-lg-4">
                                    <span class="fw-800"></span><span>₹ 08.12.00 </span>
                                </div>
                                <div class="col-4 col-lg-4">
                                    <span class="fw-800"></span><span> </span>
                                </div>
                                <div class="col-4 col-lg-4">
                                    <span class="fw-800"></span><span style="float:right;"> ₹ 08.12 </span>
                                </div>
                            </div>
                            <div class=" ticket-booking-help">
                                <u href="#" target="_blank">Add Note</u>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-12">
                    <div class="row">
                        <div class="info-data1">
                            <div class="row ticket-booking-info-details">
                                <div class="col-1 col-lg-1">
                                    <i class="icon-delete"><img src="../assets/icons/cart-delete.svg"></i>
                                </div>
                                <div class="col-7 col-lg-7">
                                    <span class="fw-800">Diet Coke 330ml Can</span>
                                </div>
                                <div class="col-4 col-lg-4">
                                    <span class="fw-800">
                                        <div class="input-group">
                                            <input type="button" value="-" [disabled]="" class="button-minus" readonly
                                                data-field="quantity">
                                            <input type="number" step="1" formControlName="" max="" name="quantity"
                                                readonly value="1" class="quantity-field">
                                            <input type="button" value="+" [disabled]="" class="button-plus" readonly
                                                data-field="quantity">
                                        </div>
                                    </span>
                                </div>
                            </div>
                            <div class="row ticket-booking-info-details">
                                <div class="col-4 col-lg-4">
                                    <span class="fw-800"></span><span>₹ 08.12.00 </span>
                                </div>
                                <div class="col-4 col-lg-4">
                                    <span class="fw-800"></span><span> </span>
                                </div>
                                <div class="col-4 col-lg-4">
                                    <span class="fw-800"></span><span style="float:right;"> ₹ 08.12 </span>
                                </div>
                            </div>
                            <div class=" ticket-booking-help">
                                <u href="#" target="_blank">Add Note</u>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="booking_detail_table">
                    <div class="row bd_row">
                        <div class="col-lg-6 col-6">
                            <h5 class="bold-font">Subtotal</h5>
                        </div>
                        <div class="col-lg-6 col-6">
                            <h5 class="float-right text-right light-font">₹ 08.12</h5>
                        </div>
                    </div>
                    <div class="row bd_row">
                        <div class="col-lg-6 col-6">
                            <h5 class="bold-font"> Delivery Fee</h5>
                        </div>
                        <div class="col-lg-6 col-6">
                            <h5 class="float-right text-right light-font"> ₹ 00.12</h5>
                        </div>
                    </div>
                    <div class="row bd_row">
                        <div class="col-lg-6 col-6">
                            <h5 class="bold-font">Total Amount</h5>
                        </div>
                        <div class="col-lg-6 col-6">
                            <h5 class="float-right text-right light-font"> ₹ 01.12</h5>
                        </div>
                    </div>
                    <hr>
                    <div class="row bd_row">
                        <div class="col-lg-6 col-6">
                            <h5 class="bold-font">Total</h5>
                        </div>
                        <div class="col-lg-6 col-6">
                            <h5 class="float-right text-right light-font"> ₹ 08.12 </h5>
                        </div>
                    </div>
                    <hr>
                    <div class="position-relative">
                        <button type="submit" class="btn btn-black-primary mt-3 btn-lg btn-block">Go to
                            Payment</button>
                        <!-- <span class="loginloading" *ngIf="loginloading"></span> -->
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>