<!-- <div class="card-footer text-muted">
    <aside class="copyright">
        <small> Copyright &copy; All Rights Reserved</small>
    </aside>
    <aside class="payment-content">

    </aside>
</div> -->
<footer class="px-2 py-4 p-lg-5 footer">
        <div class="container">
                <aside class="copyright">
                        <small> Copyright &copy; All Rights Reserved</small>
                </aside> 
                <aside class="payment-icon">
                        <!-- <small> Copyright &copy; All Rights Reserved</small> -->
                </aside>
        </div>
</footer>
