.login-form {
    /* width: 100%; */
    /* padding: 5px 10px; */
    box-sizing: border-box;
    /* height: 400px;
    background: #fff; */
    text-align: center;
    width: 90%;
    height: 100%;
    background: #fff;
    margin: auto;
    border: 2px solid #fff;
    margin-top: 0%;
    padding: 35px 35px;
    margin-bottom: 10%;

    @media (max-width: 768px) {
        width: 85%;
    }
}
*{
    margin: 0;
    padding: 0;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:20px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
h6{
    font-weight: 600;
}
.price1_tag{
    color: #b70a69;
}
.price2_tag{
    color: #b70a69;
    margin-left: 25%;
}
.price3_tag{
    color: #b70a69;
    margin-left: 35%;
}
.price4_tag{
    color: #b70a69;
    margin-left: 32%;
}
.price5_tag{
    color: #b70a69;
    margin-left: 22%;
}