<div class="home-container">
  <div class="row">
      <div class="login-form">
          <!-- <div class="container"> -->
          <div class="time-slot" style="color: #ccc;">Open Today at 16:00
          <span><img class="discount-img" src=""></span></div> 

          <h3 style="color: #CD3D33"><strong>Kashmir Tandoori</strong> </h3>
          <div class="col-12 col-lg-12">
              <div class="row">
                  <span class="col-lg-5 col-12 text-right min-order">
                      <span class="price_tag">Min Order:
                          <span class="price1_tag" style="color: #b70a69;">&#8377; 200</span>
                      </span>
                  </span>
                   |
                  <span class="col-lg-5 col-12 text-left min-order">
                      <!-- <h6 class="font-bold">Reviews (4.9) </h6> -->
                          <span class="rate">Reviews (4.9)     
                                  <input type="radio" id="star5" name="rate" value="5" />
                                  <label for="star5" title="text">5 stars</label>
                                  <input type="radio" id="star4" name="rate" value="4" />
                                  <label for="star4" title="text">4 stars</label>
                                  <input type="radio" id="star3" name="rate" value="3" />
                                  <label for="star3" title="text">3 stars</label>
                                  <input type="radio" id="star2" name="rate" value="2" />
                                  <label for="star2" title="text">2 stars</label>
                                  <input type="radio" id="star1" name="rate" value="1" />
                                  <label for="star1" title="text">1 star</label>
                          </span>
                      <!-- <div class="price_tag">Min Order:
                                  <span class="price1_tag_">&#8377; 200</span>
                          </div> -->
                        </span>
                      </div>
                  <div class="col-lg-12 col-12 sub-headings">
                      <div class="row">
                          <div class="col-lg-3 col-12 del-time">
                              <i class="col-lg-4 col-4 profile_pic_round"><img src="../../assets/icons/delivery-time-blk.svg"></i>
                              <span class="col-lg-8 col-8 de-time"> Delivery Time
                                  <div class="price2_tag"> 45-60 mins</div>
                              </span>
                          </div>
                          <div class="col-lg-3 col-12 col-bag">
                                  <i class="col-lg-4 col-4 bag-icon"><img src="../../assets/icons/cart-blk.svg"></i>
                                  <span class="col-lg-8 col-8 de-time"> Collection
                                          <div class="price3_tag"> 10-15 mins</div>
                                      </span>
                          </div>
                          <div class="col-lg-3 col-12 free-time">
                                  <i class="col-lg-4 col-4 free-icon"><img src="../../assets/icons/free-delivery-blk.svg"></i>
                                  <span class="col-lg-8 col-8 de-time"> Delivery Free
                                          <div class="price4_tag">UP TO 10Km</div>
                                      </span>
                          </div>
                          <div class="col-lg-3 col-12 location-bag">
                                  <i class="col-lg-4 col-4 location_bag-icon"><img src="../../assets/icons/location-blk.svg"></i>
                                  <span class="col-lg-8 col-8 de-time"> Location
                                          <div class="price5_tag">20 Palace Street, Canterbury</div>
                                      </span>
                          </div>
                      </div>
                  </div>
              


          </div>
      </div>
  </div>
</div>