<div class="main-content-tile1">
    <div class="row">
        <div class="manage-wrap">
            <div class="col-12 col-lg-3 sidebar">
                <div class="sidebar-row">
                    <div class="sidemenu-main">
                        <div class="sidemenu-elements">
                            <a href="#">
                                <div class="row item " style=" background-color: #CD3D33;">
                                    <div class="col-2 col-lg-2 item-icon">

                                    </div>
                                    <div class="col-10 col-lg-10 item-name">
                                        <span style=" color: #fff;">Drinks</span>
                                    </div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="row item">
                                    <div class="col-2 col-lg-2 item-icon">
                                    </div>
                                    <div class="col-10 col-lg-10 item-name">
                                        <span>Tandoori Dishes</span>
                                    </div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="row item">
                                    <div class="col-2 col-lg-2 item-icon">
                                    </div>
                                    <div class="col-10 col-lg-10 item-name">
                                        <span>Mild Dishes</span>
                                    </div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="row item">
                                    <div class="col-2 col-lg-2 item-icon">
                                    </div>
                                    <div class="col-10 col-lg-10 item-name">
                                        <span>Biryani Dishes</span>
                                    </div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="row item">
                                    <div class="col-2 col-lg-2 item-icon">
                                    </div>
                                    <div class="col-10 col-lg-10 item-name">
                                        <span>House Specials</span>
                                    </div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="row item">
                                    <div class="col-2 col-lg-2 item-icon">
                                    </div>
                                    <div class="col-10 col-lg-10 item-name">
                                        <span>Tandoori Masala</span>
                                    </div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="row item">
                                    <div class="col-2 col-lg-2 item-icon">
                                    </div>
                                    <div class="col-10 col-lg-10 item-name">
                                        <span>Rice</span>
                                    </div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="row item">
                                    <div class="col-2 col-lg-2 item-icon">
                                    </div>
                                    <div class="col-10 col-lg-10 item-name">
                                        <span>Bread</span>
                                    </div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="row item">
                                    <div class="col-2 col-lg-2 item-icon">
                                    </div>
                                    <div class="col-10 col-lg-10 item-name">
                                        <span>Hot Dishes</span>
                                    </div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="row item">
                                    <div class="col-2 col-lg-2 item-icon">
                                    </div>
                                    <div class="col-10 col-lg-10 item-name">
                                        <span>Balti Dishes</span>
                                    </div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="row item">
                                    <div class="col-2 col-lg-2 item-icon">
                                    </div>
                                    <div class="col-10 col-lg-10 item-name">
                                        <span>Prawn Dishes</span>
                                    </div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="row item">
                                    <div class="col-2 col-lg-2 item-icon">
                                    </div>
                                    <div class="col-10 col-lg-10 item-name">
                                        <span>Prawn Dishes</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>